In [1]:
from tdc import Oracle
oracle = Oracle(name = 'Rediscovery')
oracle(['CC(=O)OC1=CC=CC=C1C(=O)O',
       'C1=CC=C(C=C1)C=O'])

{'Celecoxib': [0.11578947368421053, 0.10588235294117647],
 'Troglitazone': [0.12037037037037036, 0.07920792079207921],
 'Thiothixene': [0.14285714285714285, 0.14893617021276595]}

In [2]:
from tdc import Oracle
oracle = Oracle(name = 'Rediscovery')
oracle('CC(=O)OC1=CC=CC=C1C(=O)O')

{'Celecoxib': 0.11578947368421053,
 'Troglitazone': 0.12037037037037036,
 'Thiothixene': 0.14285714285714285}

In [5]:
from tdc.single_pred import ADME
data = ADME(name = 'Caco2_Wang')
data.get_split()['test']

Found local copy...
Loading...
Done!

,Drug_ID,Drug,Y
0,VLA-4 antagonist 3,S1CN(S(=O)(=O)c2cn(nc2)C)[C@H](C(=O)N[C@@H](Cc...,-5.170000
1,Astilbin,O1[C@@H](C)[C@H](O)[C@@H](O)[C@@H](O)[C@@H]1O[...,-6.820000
2,[D-Ala2]Met-enkephalin,S(CC[C@H](NC(=O)[C@@H](NC(=O)CNC(=O)[C@H](NC(=...,-7.020000
3,Ketoconazole,Clc1cc(Cl)ccc1[C@]1(O[C@@H](CO1)COc1ccc(N2CCN(...,-4.753865
4,H 95/71,O(CC(O)CNC(C)C)c1ccc(NC=O)cc1,-5.427984
...,...,...,...
177,7,S(=O)(=O)(NC(Cc1cc(ccc1)C(N)=N)CC(=O)N1CCC(CC1...,-7.091294
178,Umbelliferone,O1c2cc(O)ccc2C=CC1=O,-4.571014
179,32,Clc1cc(NC(=O)c2n(ncc2)CCc2ccncc2)ccc1C(F)(F)F,-5.340000
180,8,Brc1ccc(cc1)CN(NC(=O)[C@@H](C(C)(C)C)CC(OC)=O)...,-5.320000
181,2,S(=O)(=O)(N[C@@H](Cc1ccc(cc1)C(N)=N)C(=O)N(C)C...,-6.698970